{% extends 'user/userindex.html' %}
{% load static %}


{% block contents %}
<br>
<br>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-end">
      <form class="d-flex" role="search" action="{% url 'search' %}" method="get">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
</nav>


<table class="table">
  <thead>
    <tr class="text-center">
      <th scope="col">Sl.No</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Comment</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
  {% for blog in blogs %}
    <tr class="text-center">
      <th scope="row">{{forloop.counter}}</th>
      <td>{{ blog.title }}</td>
      <td>{{ blog.description }}</td>
      <td>{{ blog.comment }}</td>
      <td><a href="{% url 'blog_detail' blog.id %}" class="btn btn-outline-info">Details</a>
        <a href="{% url 'blog_update' blog.id %}" class="btn btn-outline-warning ">Update</a>
        <a href="{% url 'blog_delete' blog.id %}" class="btn btn-outline-danger">Delete</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<!--<nav aria-label="Page navigation example">-->
<!--  <ul class="pagination justify-content-center">-->
<!--    {% if page.has_previous %}-->
<!--    <li class="page-item">-->
<!--      <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">-->
<!--        <span aria-hidden="true">&laquo;</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    {% endif %}-->

<!--    {% for num in page.paginator.page_range %}-->
<!--    <li class="page-item {% if page.number == num %} activate{% endif %}">-->
<!--      <a class="page-link" href="?page={{ num }}">{{ num }}</a></li>-->
<!--    {% endfor %}-->
<!--    {% if page.has_next %}-->
<!--    <li class="page-item">-->
<!--      <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next">-->
<!--        <span aria-hidden="true">&raquo;</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    {% endif %}-->
<!--  </ul>-->
<!--</nav>-->

{% endblock %}